<%= render 'shared/account_nav', :current => 'stores' %>
<% @title = "Deployment Service for #{@store.name}" %>

<div class="content-text">
  <h1>Deployment Service for <%= link_to @store.name, @store %></h1>

  <%= render 'shared/error_messages', :target => @deploy %>
  <%= form_for @deploy do |f| %>
    <%= hidden_field_tag :store_id, @store.id %>

      <%= render :partial => "form", :object => f %>
      <div class="form-actions">
        <button class="button big green" type="submit">
          <i class="icon-plus"></i>
          Add
        </button>
      </div>

  <% end %>
</div>

<%= render 'sidebar' %>
